*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background: url(/images/default.jpg) center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    max-width: 1000px;
    position: relative;
}

#appHeader {
    font-size: 34px;
    text-align: center;
    letter-spacing: 0.6px;
    margin: 0 auto;
    padding-top: 40px;
    color: #ffffff;
    text-shadow: 1px 0px 4px black,
                0px 0px 1px rgb(225, 77, 8);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchContainer {
    display: block;
    text-align: center;
    margin: 30px auto 0px;
}

#error-message {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 0.3px;
    display: none;
    color: #ffffff;
}

#cityInput, #submitBtn {
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: 0.6px;
    transition: 300ms ease;
}

#cityInput {
    padding: 8px 10px 8px 35px;
}

#cityInput::placeholder {
    position: relative;
}

.fa-microphone {
    position: absolute;
    font-size: 18px;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
}

/* .fa-microphone:after {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    height: 7px;
    color: #757575;
} */

#cityInput:hover,
#cityInput:focus {
    box-shadow: 0px 0px 5px #b5b5b5;
}

#submitBtn {
    padding: 8px 10px;
    background-color: rgb(230, 73, 0);
    color: #ffffff;
    cursor: pointer;
    margin-left: 5px;
}

#submitBtn:hover, 
#submitBtn:active, 
#submitBtn:focus {
    box-shadow: 0px 0px 3px #9a9a9a;
    background-color: rgb(240, 85, 15);
}

#weatherContainer {
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px black;
    box-shadow: inset 0px 0px 7px 1px white;
    color: rgb(246, 246, 246);
    letter-spacing: 0.5px;
    padding: 30px;
    margin: 25px auto 0;
    border-radius: 10px;
    font-size: 16px;
    visibility: hidden;
}

#city {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    margin-bottom: 0;
    text-align: center;
}

#weatherDescriptionImg{
    display: block;
    margin: auto;
}

#cityWeatherDetails {
    display: flex;
    justify-content: center;
    margin: 0 0 10px;
    border-radius: 10px;
    padding: 15px 10px;
    box-shadow: inset 0px 0px 3px 0 white;
    position: relative;
}

#temperature {
    border-right: 2px solid #ddd;
    margin-right: 5px;
    padding-right: 5px;
}

#feelsLike {
    text-align: center;
}

hr {
    margin: 15px 0;
}

#otherTemperature {
    float: right;
}

.other {
    float: left;
    margin-right: 40px;
}

#maxTemp, #humidity {
    margin: 0 0 7px;
}

#maxTemp::before {
    content: url(/images/up.svg); 
    padding: 0 3px;
}

#minTemp::before {
    content: url(/images/down.svg);
    padding: 0 3px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding: 8px 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: #eeeeee;
    box-shadow: 0px 1px 5px 0px black;
    border-radius: 2px;
    width: 100%;
    max-width: 1000px;
}

.social a {
    margin: 5px;
    padding: 2px;
    text-decoration: none;
    color: #eeeeee;
}

.social a, 
.social a i {
    transition: 300ms ease;
}

.social a:hover {
    color: #ffffff;
}

.social a:hover i {
    transform: scale(1.2);
}

@media screen and (min-width: 1300px) {
    #appHeader {
        padding-top: 60px;
    }
    #searchContainer {
        margin: 40px auto 10px;
    }
}

@media screen and (max-width: 425px) {
    #appHeader {
        font-size: 30px;
        padding-top: 30px;
    }

    #searchContainer, .submitForm {
        display: flex;
        flex-direction: column;
    }

    #searchContainer {
        margin-top: 20px;
    }

    footer {
        padding: 5px 0;
    }
    
    #submitBtn {
        margin-top: 5px;
        margin-left: 0;
    }
}

@media screen and (max-width: 325px) {
    #weatherContainer {
        margin-top: 20px;
    }
}

@media screen and (max-width: 270px) {
    #city {
        margin-bottom: 0;
    }
    
    .otherWeatherDetails {
        display: block;
    }

    #otherTemperature, .other {
        float: none;
        width: 100%;
        text-align: center;
    }

    #maxTemp, #minTemp {
        display: inline-block;
    }

    #otherTemperature {
        margin-bottom: 5px;
    }
}