*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background: url(/images/default.jpg) center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    width: 100%;
    max-width: 1000px;
}

#appHeader {
    font-size: 34px;
    text-align: center;
    letter-spacing: 0.5px;
    color: white;
    margin: 0 auto;
    padding-top: 40px;
    text-shadow: 1px 0px 4px black,
                0px 0px 1px rgb(225, 77, 8);
}

#history {
    position: absolute;
    bottom: calc(100vh - 160px);
    left: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 2);
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
}

#history a {
    color: rgb(225, 77, 8);
    text-decoration: none;
    transition: 250ms ease;
}

#history a:hover {
    color: rgb(240, 85, 15);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchContainer {
    display: block;
    text-align: center;
    margin: 30px auto 0;
}

#cityInput, #submitBtn {
    padding: 8px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 300ms ease;
}

#submitBtn {
    background: rgb(225, 77, 8);
    color: white;
    cursor: pointer;
}

#cityInput:hover {
    box-shadow: 0px 0px 2px black;
}

#submitBtn:hover {
    box-shadow: 0px 0px 2px black;
    background: rgb(240, 85, 15);
}

#weatherContainer {
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px black;
    box-shadow: inset 0px 0px 7px 1px white;
    color: rgb(246, 246, 246);
    letter-spacing: 0.5px;
    padding: 30px;
    margin: 30px auto 0;
    border-radius: 10px;
    font-size: 16px;
    visibility: hidden;
}

#city {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    margin-bottom: 5px;
    text-align: center;
}

#weatherDescriptionImg{
    display: block;
    margin: auto;
}

#cityWeatherDetails {
    display: flex;
    justify-content: center;
    margin: 0 0 10px;
    border-radius: 10px;
    padding: 15px 10px;
    box-shadow: inset 0px 0px 3px 0 white;
    position: relative;
}

#temperature {
    border-right: 2px solid #ddd;
    margin-right: 5px;
    padding-right: 5px;
}

#feelsLike {
    text-align: center;
}

hr {
    margin: 15px 0;
}

#otherTemperature {
    float: right;
}

.other {
    float: left;
    margin-right: 40px;
}

#maxTemp, #humidity {
    margin: 0 0 7px;
}

#maxTemp::before {
    content: url(/images/up.svg);
    
    padding: 0 3px;
}

#minTemp::before {
    content: url(/images/down.svg);
    
    padding: 0 3px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    padding: 8px 0;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 5px 0px black;
    border-radius: 2px;
    width: 100%;
    max-width: 1000px;
}


@media screen and (max-width: 600px) {
    #searchContainer, .submitForm, footer {
        display: flex;
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    /* .social {
        margin-top: 5px;
    } */
    
    #submitBtn {
        margin-top: 5px;
    }
}

@media screen and (max-width: 325px) {
    #weatherContainer {
        margin-top: 20px;
    }
}

@media screen and (max-width: 270px) {
    #city {
        margin-bottom: 0;
    }
    
    .otherWeatherDetails {
        display: block;
    }

    #otherTemperature,.other {
        float: none;
        width: 100%;
        text-align: center;
    }

    #maxTemp, #minTemp {
        display: inline-block;
    }

    #otherTemperature {
        margin-bottom: 5px;
    }
}